
  .border{
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
  .bg{
    background-image: url(header.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
  }
  
.nav-link{
 font-size: 30px;
}

.bg2{
  background-image: url(phairene.jpg);
   background-size: cover;
    background-position: center;
}




/*
.special2{
  z-index: 2;
}

images as webp everything optiomized have it as its own bg image
*/