* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 200vh;
    margin: auto;
}

.linkedit{
  color: #7E634B;
   font-size: 80px;
   text-decoration: none;
   margin: 25px ; 
}
.linkedit2{
    color: #FFFFC0;
    font-size: 30px;
    text-decoration: none;
    margin: 25px ; 
    padding-left: 20px;
}

.linkedit3{
  color: #7E634B;
   text-decoration: underline; 
}

.padding{
    padding-top: 30px;
    padding-left: 50px;
}
a:hover{
 color: #712A06;
}


@font-face{
  src: url(CactusJack.otf);
  font-family: CactusJack;
}

.cactusjack{
  font-family: CactusJack;
}
@font-face{
    src: url(Yozai-Regular.ttf);
    font-family: yozaireg;
}

.yozaireg{
  font-family: yozaireg;
}

@font-face{
  src: url(AutumnHuismuis22-3zGGy.otf);
  font-family: AutumnHuismuis22;
}
.autumn{
  font-family: AutumnHuismuis22;
}






.siteheaderwrapper{
  display: flex;
  flex-wrap: wrap;
}

.indextop{
    z-index: 2;
}
.indexbtm{
    z-index: 3;
}
.position{
    position: absolute;
}

.secondtext{
    color: #7E634B;
    text-align: center;
    font-size: 30px;
    word-spacing: 9px;
    padding-top: 30px;
    padding-bottom: 100px;

}
.commissionstext{
font-size: 90px;
}

.bg{
   background-image:url(btm.jpg);
   background-repeat:repeat;
   background-size:cover;
  


}
.board{
    max-width: 130%;
    max-height: 140vh;
}

.boardiv{
    margin: auto;
    display: flex;
    justify-content: center;
}



.selector {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.footer2{
    z-index: 4;
     margin-top: -170px;
    max-width:100%
}
.textpadding{
    margin-top: -620px;
    margin-right: 300px;
}
.text {
    position: relative;
    z-index: 5;
    color: #FFFFC0;
    font-size: 40px;
    text-align: end;
    margin-bottom: -149px;
    text-decoration: none;
}

.abouttheartist{
     position: relative;
    z-index: 6;
    color: #FFFFC0;
    font-size: 90px;
    text-align: end;
    text-decoration: none;
}

.allrightsreserved{
    margin-left: auto;
    padding-right: 30px;
}
.nav{
     position: relative;
     margin-top: -149px;
}

.about{
      text-align: end;
    margin-top: -1130px;
    margin-left: auto;
    padding-right: 176px;
    color: #382C15;
     font-size: 90px;
    text-decoration: none;

}







.intro{
    margin-top: 51px;
    margin-bottom: 100px;
     max-width:100%
}
.introtext{
    color: #7E634B;
    text-align: left;
    font-size: 40px;
    padding-left: 160px;
    padding-right: 140px;
    line-height: 1.9;
    overflow: hidden;
}
.backtotoptext{
    color: #7E634B;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
.arrow{
    width: 60px;
    height: 30px;
}

.backtotopcontainer{
    text-align: center;
    align-content: center;

}



.backtotop{
    scroll-behavior: smooth;
}

.typewriter{
    padding-top: 80px;
}

.contacttext{
       color: #7E634B;
       padding-left: 220px;
    text-align: left;
    font-size: 30px;
    padding-top: 120px;
    font-size: 140px;
    padding-bottom: 100px;
    overflow: hidden;
}

.contactsmalltext{
    color: #7E634B;
     font-size: 30px;
}

.CONTAINDIV{
  display: flex;
  justify-content: center;
  align-items: center;

}
.CONTAINERFORM{
     border-radius: 5px;
        padding: 20px;

}



input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 30px; /* Some padding */ 
  border: 2px solid #7E634B; /* Gray border */
  border-radius: 6px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


input[type=submit] {
    width: 100%;
  background-color: #7E634B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #712A06;
}


/*.gallery{
display: flex;
max-width: 1200%;
width: 100%;
flex-wrap: wrap;
object-fit: cover;
justify-content: center;
}

.galleryimages{
width: 350px;
height: 350px;
object-fit: cover;
object-position: center;

}*/


.contained{
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}

@media screen and (max-width: 500px){
    .contained{   
        grid-template-columns: repeat(2, 1fr) ;
    }
}

.gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image{
     width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img{
     width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.gallery-item:hover .image img{
    transform: scale(1.2);
}

.w-1{
    grid-column: span 1;

}
.w-2{
    grid-column: span 2;

}
.w-3{
    grid-column: span 3;

}
.w-4{
    grid-column: span 4;

}
.w-5{
    grid-column: span 5;

}
.w-6{
    grid-column: span 6;

}


.h-1{
grid-row: span 1;
}
.h-2{
grid-row: span 2;
}
.h-3{
grid-row: span 3;
}
.h-4{
grid-row: span 4;
}
.h-5{
grid-row: span 5;
}
.h-6{
grid-row: span 6;
}