body {
  background-color: burlywood;
}
h1 {
  text-align: center;
  color: sienna;
  font-size: 50px;
  font-family: 'Courier New', monospace;
}
h2 {
    text-align: center;
}
p {
  color: darkblue;
  text-align: center;
}
img {
  display: block;
  margin: auto;
  width: 100%;
  height: 90%;
}
div.mycontainer {
  width:100%;
  overflow:auto;

}
div.mycontainer div {
  width:33%;  
  float:left;
}


.expletus-sans{
  font-family: "Expletus Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}

.fantasy{
  font-family: copperplate, fantasy;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
